body{
    font-family: 'Bebas Neue', sans-serif;

}


header{
    top:0;
    left: 0;
    height: 100px;
    width: 100%;
    color: white;
    position: fixed;
    

    
    border-bottom: 3px solid gray;
    box-shadow: 0 8px 10px -6px gray;
    z-index: 5;
}